patient_id	cell_id	bam_path	cell_type
patient_03_wxs	CTC1	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617683.sorted.bam	ctc
patient_03_wxs	CTC2	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617684.sorted.bam	ctc
patient_03_wxs	CTC3	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617685.sorted.bam	ctc
patient_03_wxs	CTC4	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617678.sorted.bam	ctc
patient_03_wxs	CTC5	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617679.sorted.bam	ctc
patient_03_wxs	CTC6	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617680.sorted.bam	ctc
patient_03_wxs	CTC7	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617681.sorted.bam	ctc
patient_03_wxs	CTC8	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617686.sorted.bam	ctc
patient_03_wxs	CTC9	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617687.sorted.bam	ctc
patient_03_wxs	CTC10	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617621.sorted.bam	ctc
patient_03_wxs	CTC11	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617620.sorted.bam	ctc
patient_03_wxs	CTC12	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617623.sorted.bam	ctc
patient_03_wxs	CTC13	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617622.sorted.bam	ctc
patient_03_wxs	CTC14	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617617.sorted.bam	ctc
patient_03_wxs	CTC15	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617616.sorted.bam	ctc
patient_03_wxs	CTC16	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617619.sorted.bam	ctc
patient_03_wxs	CTC17	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617618.sorted.bam	ctc
patient_03_wxs	CTC18	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617615.sorted.bam	ctc
patient_03_wxs	CTC19	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617614.sorted.bam	ctc
patient_03_wxs	CTC20	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617644.sorted.bam	ctc
patient_03_wxs	CTC21	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617645.sorted.bam	ctc
patient_03_wxs	leukocyte	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617682.sorted.bam	leukocyte
