/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617653.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617652.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617655.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617654.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617649.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617648.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617651.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617650.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617647.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617646.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617632.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617633.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617630.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617631.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617628.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617629.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617626.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617627.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617624.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617625.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617597.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617669.sorted.bam
