patient_id	ref_fasta	monovar_bam_list	cell_metadata	germline_mode	germline_vcf	bulk_bam	leukocyte_bam	leukocyte_vcf
patient_01	/tzu-share-2/resources/genome/fasta_sarek/Homo_sapiens_assembly38.fasta	/tzu-share-2/users/students/cornelusp/monovar/patient01_ctc_filename.txt	configs/patient_01_cells.tsv.example	joint_monovar_leukocyte	NA	NA	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617667.sorted.bam	NA
