patient	SRR	label	assay_type	sample_name	bam_path
Patient_03	SRR8617597	CTC21	WGS	P03C21	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617597.sorted.bam
Patient_03	SRR8617614	CTC19	WXS	P03C19E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617614.sorted.bam
Patient_03	SRR8617615	CTC18	WXS	P03C18E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617615.sorted.bam
Patient_03	SRR8617616	CTC15	WXS	P03C15E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617616.sorted.bam
Patient_03	SRR8617617	CTC14	WXS	P03C14E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617617.sorted.bam
Patient_03	SRR8617618	CTC17	WXS	P03C17E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617618.sorted.bam
Patient_03	SRR8617619	CTC16	WXS	P03C16E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617619.sorted.bam
Patient_03	SRR8617620	CTC11	WXS	P03C11E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617620.sorted.bam
Patient_03	SRR8617621	CTC10	WXS	P03C10E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617621.sorted.bam
Patient_03	SRR8617622	CTC13	WXS	P03C13E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617622.sorted.bam
Patient_03	SRR8617623	CTC12	WXS	P03C12E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617623.sorted.bam
Patient_03	SRR8617624	CTC19	WGS	P03C19	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617624.sorted.bam
Patient_03	SRR8617625	CTC20	WGS	P03C20	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617625.sorted.bam
Patient_03	SRR8617626	CTC17	WGS	P03C17	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617626.sorted.bam
Patient_03	SRR8617627	CTC18	WGS	P03C18	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617627.sorted.bam
Patient_03	SRR8617628	CTC15	WGS	P03C15	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617628.sorted.bam
Patient_03	SRR8617629	CTC16	WGS	P03C16	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617629.sorted.bam
Patient_03	SRR8617630	CTC13	WGS	P03C13	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617630.sorted.bam
Patient_03	SRR8617631	CTC14	WGS	P03C14	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617631.sorted.bam
Patient_03	SRR8617632	CTC11	WGS	P03C11	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617632.sorted.bam
Patient_03	SRR8617633	CTC12	WGS	P03C12	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617633.sorted.bam
Patient_03	SRR8617644	CTC20	WXS	P03C20E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617644.sorted.bam
Patient_03	SRR8617645	CTC21	WXS	P03C21E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617645.sorted.bam
Patient_03	SRR8617646	CTC10	WGS	P03C10	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617646.sorted.bam
Patient_03	SRR8617647	CTC9	WGS	P03C9	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617647.sorted.bam
Patient_03	SRR8617648	CTC6	WGS	P03C6	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617648.sorted.bam
Patient_03	SRR8617649	CTC5	WGS	P03C5	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617649.sorted.bam
Patient_03	SRR8617650	CTC8	WGS	P03C8	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617650.sorted.bam
Patient_03	SRR8617651	CTC7	WGS	P03C7	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617651.sorted.bam
Patient_03	SRR8617652	CTC2	WGS	P03C2	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617652.sorted.bam
Patient_03	SRR8617653	CTC1	WGS	P03C1	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617653.sorted.bam
Patient_03	SRR8617654	CTC4	WGS	P03C4	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617654.sorted.bam
Patient_03	SRR8617655	CTC3	WGS	P03C3	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617655.sorted.bam
Patient_03	SRR8617658	Bulk_metastatic	WXS	P03M2E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617658.sorted.bam
Patient_03	SRR8617659	Bulk_metastatic	WXS	P03M1E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617659.sorted.bam
Patient_03	SRR8617664	Bulk	WXS	P03GE	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617664.sorted.bam
Patient_03	SRR8617668	Bulk_metastatic	WGS	P03M2	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617668.sorted.bam
Patient_03	SRR8617669	Single leukocyte	WGS	P03L	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617669.sorted.bam
Patient_03	SRR8617676	Bulk	WGS	P03G	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617676.sorted.bam
Patient_03	SRR8617677	Bulk_metastatic	WGS	P03M1	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617677.sorted.bam
Patient_03	SRR8617678	CTC4	WXS	P03C4E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617678.sorted.bam
Patient_03	SRR8617679	CTC5	WXS	P03C5E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617679.sorted.bam
Patient_03	SRR8617680	CTC6	WXS	P03C6E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617680.sorted.bam
Patient_03	SRR8617681	CTC7	WXS	P03C7E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617681.sorted.bam
Patient_03	SRR8617682	Single leukocyte	WXS	P03LE	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617682.sorted.bam
Patient_03	SRR8617683	CTC1	WXS	P03C1E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617683.sorted.bam
Patient_03	SRR8617684	CTC2	WXS	P03C2E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617684.sorted.bam
Patient_03	SRR8617685	CTC3	WXS	P03C3E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617685.sorted.bam
Patient_03	SRR8617686	CTC8	WXS	P03C8E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617686.sorted.bam
Patient_03	SRR8617687	CTC9	WXS	P03C9E	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617687.sorted.bam
