/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617683.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617684.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617685.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617678.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617679.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617680.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617681.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617686.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617687.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617621.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617620.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617623.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617622.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617617.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617616.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617619.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617618.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617615.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617614.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617644.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617645.sorted.bam
/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617682.sorted.bam
