patient_id	cell_id	bam_path	cell_type
patient_03_wgs	CTC1	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617653.sorted.bam	ctc
patient_03_wgs	CTC2	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617652.sorted.bam	ctc
patient_03_wgs	CTC3	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617655.sorted.bam	ctc
patient_03_wgs	CTC4	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617654.sorted.bam	ctc
patient_03_wgs	CTC5	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617649.sorted.bam	ctc
patient_03_wgs	CTC6	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617648.sorted.bam	ctc
patient_03_wgs	CTC7	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617651.sorted.bam	ctc
patient_03_wgs	CTC8	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617650.sorted.bam	ctc
patient_03_wgs	CTC9	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617647.sorted.bam	ctc
patient_03_wgs	CTC10	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617646.sorted.bam	ctc
patient_03_wgs	CTC11	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617632.sorted.bam	ctc
patient_03_wgs	CTC12	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617633.sorted.bam	ctc
patient_03_wgs	CTC13	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617630.sorted.bam	ctc
patient_03_wgs	CTC14	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617631.sorted.bam	ctc
patient_03_wgs	CTC15	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617628.sorted.bam	ctc
patient_03_wgs	CTC16	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617629.sorted.bam	ctc
patient_03_wgs	CTC17	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617626.sorted.bam	ctc
patient_03_wgs	CTC18	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617627.sorted.bam	ctc
patient_03_wgs	CTC19	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617624.sorted.bam	ctc
patient_03_wgs	CTC20	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617625.sorted.bam	ctc
patient_03_wgs	CTC21	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617597.sorted.bam	ctc
patient_03_wgs	leukocyte	/tzu-share-2/data/public/PRJNA448888/processed/sarek/alignments/SRR8617669.sorted.bam	leukocyte
